/* Declaring All Variables */

:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%); 
    --GrayishBlue: hsl(246, 25%, 77%);
}

/* Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Main Stylings */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    background-color: hsla(0, 100%, 74%,0.95);
    background-image: url(bg-intro-desktop.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    font-family: 'Poppins', sans-serif;
    width:1200px;
    display: flex;
    color:white;
    align-items: center;
}
.intro{
    width:50%;
    padding-right:30px;
}
.intro h1{
    font-size: 60px;
    font-weight: 700;
}
.intro p{
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 2px;
    margin-top:50px;
    font-weight: 400;
}
.form{
    width:50%;
    padding-left:30px;
}
.form .offer{
    background-color: var(--Blue);
    text-align: center;
    padding:15px 70px;
    border-radius: 10px;
}
.offer h2 span{
    font-weight: 900;
    font-size: 22px;
}
.offer h2{
    font-weight: lighter;
    font-size: 19px;
}
.form .info{
    background-color: white;
    margin-top: 30px;
    padding:35px;
    border-radius: 15px;
}
.info input{
    width:100%;
    padding:15px 30px;
    border:2px solid var(--GrayishBlue);
    border-radius: 10px;
}
.info input::placeholder{
    color:var(--DarkBlue);
    font-weight: 600;
    font-size: 13px;
}
.info button{
    width:100%;
    background-color: var(--Green);
    text-align: center;
    padding:20px 0;
    color:white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    border:0;
    border-radius: 10px;
    cursor:pointer;
    transition: 0.3s;
}
.info h3{
    color:var(--GrayishBlue);
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
}
.info span{
    color:var(--Red);
    font-weight: 700;
}
button:hover{
    background-color: hsl(154, 65%, 65%);
}
.form-element h4{
    color:red;
    text-align: right;
    margin:10px 0;
    font-weight: 700;
    font-size: 13px;
    font-style: italic;
    visibility: hidden;
}
.form-element.error h4{
    color:red;
    visibility: visible;
}
.form-element.error input{
    background-image: url(icon-error.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
    border-color: red;
}
.form-element.success input{
    border-color: rgb(63, 255, 88);
}
#emailBox input::placeholder{
    color:red;
}
@media (max-width:1205px){
    main{
        flex-direction: column;
    }
    .form{
        width: 360px;
    }
    .intro{
        width:360px;
        padding-right: 0px;
    }
    .form .offer h2{
        font-size: 20px;
        font-weight: lighter;
    }
    .form{
        padding-left: 0px;
        margin-top:30px;
    }
    .intro{
        text-align: center;
    }
    .intro h1{
        font-size: 25px;
    }
    .intro p{
        margin-top: 15px;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 23px;
    }
    .form .info{
        padding:20px;
    }
}